#java specific
*.class
target

## generic files to ignore
*~
*.lock
*.swp
*.out
.DS_Store
*.log
logs/*

# IDEs
.eclipse
.settings
.classpath
.project
*.ipr
*.iws
*.iml

# Crawler
crawler/tmp/*
tools/elasticsearch-0.19.9/data
