@(film: Film, score: Int = 0, options: Seq[Film] = Seq[Film]())

@import helper.form

@main("PlayBafici") {
	
	<div class="for-points">
      <h2>Por 10 puntos</h2>
      <h4><span id="score">@score</span> <span>puntos</span></h4>
    </div>
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img src="@film.image_url" alt="">
        </div>
      </li>
    </ul>

	<hr/>

  <div class="quiz">
    <h3>¿Cómo se llama la película?</h3>
    <ul>
	@for(film: Film <- options){
		@renderOption(film.id,film.title)
	}
    </ul>
    <div class="post-quiz">
    <form action="@routes.Films.filmsForGame().url" method="post">
  	  <input type="hidden" id="points" name="points" value="0"/>
      <input type="submit" id="next" class="btn-large btw btn-danger disabled" style="display:none;width:100% !important;" href="javascript:;" value="Siguiente &rarr;" />
    </form>
    </div>
  </div>

}

@renderOption(id: String,title: String) = {
	<li class="option" id="@id">@title<span></span></li>
}

<script type="text/javascript">
	$('.option').bind('click',function(){
		$('.option').unbind('click');
		var correct = '@film.id';
		var points = 0;
		var msg = 'Incorrecto!';
		
		if($(this).attr('id')==correct){
			points = 10;
			msg = 'Correcto!';
		}

		$('#score').html(parseInt($('#score').html()) + points);

		$('.option').each(function(i,e){
			if($(e).attr('id')==correct){
				$(e).addClass('bien');
			}else{
				$(e).addClass('mal');
			}
		});

		$('#msg').html(msg);
    $('#points').val(points);
		$('#next').show();
	});

</script>
