@(film: Film, score: Int = 10, options: Seq[Film] = Seq[Film]())

@main("PlayBafici") {
	
	<div class="for-points">
      <h2>Por 10 puntos</h2>
      <h4><span id="score">@score</span> <span>puntos</span></h4>
    </div>
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
          <img src="@film.image_url" alt="">
        </div>
      </li>
    </ul>

	<hr/>

    <div class="quiz">
      <h3>¿Cómo se llama la película?</h3>
      <ul>
		@for(film:Film <- options){
			@renderOption(film.id,film.title)
		}
      </ul>
      <div class="post-quiz">
			<a id="next" class="btn-large btw btn-danger disabled" style="display:none;width:100% !important;" href="javascript:;">Siguiente &rarr;</a>
      </div>
    </div>

}

@renderOption(id: String,title: String) = {
	<li class="option" id="@id">@title<span></span></li>
}

<script type="text/javascript">
	$('.option').bind('click',function(){
		$('.option').unbind('click');
		var correct = '@film.id';
		var puntaje = 0;
		var msg = 'Incorrecto!';
		
		if($(this).attr('id')==correct){
			puntaje = 10;
			msg = 'Correcto!';
		}

		$('#score').html(parseInt($('#score').html()) + puntaje);

		$('.option').each(function(i,e){
			if($(e).attr('id')==correct){
				$(e).addClass('bien');
			}else{
				$(e).addClass('mal');
			}
		});

		$('#msg').html(msg);
		//$('#scoreValue').val(puntaje);
		$('#next').attr('href','/game/'+puntaje)
		$('#next').show();
	});

</script>
