@(
	page: Long = 1, 
	sort: String = "", 
	filter: String = "", 
	year: String = "2012", 
	found: Long, 
	total: Long, 
	films: Seq[Film] = Seq[Film]()
)

@main("Open Bafici"){<p></p>}{

<div class="row-fluid">
	<div class="span6 hidden-phone">
		<div class="hero-unit">
			<blockquote>
			  <p>"La fotografía es verdad.<br/> Y el cine es verdad 24 veces por segundo"</p>
			  <small>Jean Luc Godard</small>
			</blockquote>
		</div>
	</div>
	<!-- ver http://foro.elaleph.com/viewtopic.php?t=8365 y http://www.citasyproverbios.com/citas.aspx?tema=Cine -->
	<div class="span3">
		<br/>
		<div class="span12">
			<h3>Ingrese una palabra<span class="visible-desktop">:</span></h3>
		</div>
		<div class="span12">
			<div class="row-fluid">

				<form class="form-search" id="search">
					<input type="text" value="@filter" class="filterText search-query visible-desktop" style="width:80%" />
					<input type="text" value="@filter" class="filterText search-query hidden-desktop" style="width:90%" />
					<p class="help-block">Busca por título, género, actor, etc.</p>

					<p>
					<input type="radio" name="year" value="2010" class="yearText" @(if(year=="2010") " checked")/>&nbsp;2010&nbsp;&nbsp;
					<input type="radio" name="year" value="2011" class="yearText" @(if(year=="2011") " checked")/>&nbsp;2011&nbsp;&nbsp;
					<input type="radio" name="year" value="2012" class="yearText" @(if(year=="2012") " checked")/>&nbsp;2012
					</p>

					<input type="submit" class="buscar btn btn-large visible-desktop" value="Buscar" />
					<input type="submit" class="buscar btn btn-large hidden-desktop" value="Buscar" />

				</form>
				
			</div>
		</div>
	</div>
	<div class="span3 hidden-phone hidden-tablet">
		<div class="hero-unit">
			<p>Buscando en más de @total películas.</p>
		</div>
	</div>
</div>
  
@if(films.size > 0) {
  
  	@pager(page, found)

	<div class="row-fluid">
		<div class="span12">
			  <table class="table table-striped">
			  <thead>
			   	<tr>
			  		<th>Título</th>
			  		<th></th>
			  	</tr>
			  </thead>
			  <tbody>
			  	@for(film:Film <- films){
			  		<tr class="filmItem">
			  			<td class="titulo">@film.title</td>
			  			<td><a href="@routes.Films.show(film.id)" class="btn btn-success pull-right">+ INFO</a></td>
			  		</tr>	
			  	}
			  </tbody>        	    
			  </table>
	  	</div>
	</div>
  
@pager(page, found)
  
  }

}

@pager(page: Long, found: Long) = {
<hr/>
<div class="row-fluid controls">
   <div class="span12">
	   <ul class="pager">
		  <li>
		   @if(page>1) {
			    <a href="@routes.Films.list(page-1, sort, filter)" class="btn-large">&larr; Anterior</a>
		  	}else{
			    <a href="javascript:;" class="btn-large disabled">&larr; Anterior</a>
		  	}
		  </li>
		  <li>
		  	|
		  </li>
		  <li>
		    <a href="@routes.Films.list(page+1, sort, filter)" class="btn-large">Siguiente &rarr;</a>
		  </li>
		</ul>
	</div>
	@if(films.size == 0) {
	    @if(filter == "") {
	    	<em>Busque algo</em>
	    } else {
	     	<em>0 Elementos</em>
	    }	
	  } else {
	     <em> @films.size elementos de @found</em>        
	}
</div>
<hr/>
}