@(q: String, films: Seq[Film], elasticQuery: String)

@main("Play 2.0 demo for restOpenGov") {

<h1>Play Framework 2.0 simple demo for restOpenGov</h1><hr />

  <form method="get" action="@routes.Application.index()" id="form" class="form-inline" >
    <p>
    <label for="query">Buscar:</label>
    <input type="text" name="q" value="@q" />

    <input type="submit" id="submit" class="btn btn-primary" value="Buscar" />

  </form>

  <h3><a target="_blank" href="@elasticQuery">Filmes</a></h3>
 
  <table class="table">
  @for(film <- films) {
    <tr>
      <th><a target="_blank" href="http://elastic.restopengov.org/gcba/bafici/@film.id?pretty=1">@film.titulo</a></th>
      <td>@film.resumen</td>
    </tr>
  }
  </table>
    
}