	body { 
	    color: #333333;
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	    font-size: 14px;
	    line-height: 20px;
	}
	
	a {
	    color: #0088CC;
	    text-decoration: none;
	}

	a:hover {
	    color: #005580;
	    text-decoration: underline;
	}

	hr {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
	    border-image: none;
	    border-left: 0 none;
	    border-right: 0 none;
	    border-style: solid none;
	    border-width: 1px 0;
	    margin: 20px 0;
	}

	h1 {
	    font-size: 38.5px;
	}

	h1, h2, h3 {
	    line-height: 40px;
	}

	h1, h2, h3, h4, h5, h6 {
	    color: inherit;
	    font-family: inherit;
	    font-weight: bold;
	    line-height: 20px;
	    margin: 10px 0;
	    text-rendering: optimizelegibility;
	}

	p {
   	 	margin: 0 0 10px;
	}

	.btn {
	    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	}

	.btn {
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-top-colors: none;
	    background-color: #F5F5F5;
	    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	    background-repeat: repeat-x;
	    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
	    border-image: none;
	    border-radius: 4px 4px 4px 4px;
	    border-style: solid;
	    border-width: 1px;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	    color: #333333;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 14px;
	    line-height: 20px;
	    margin-bottom: 0;
	    padding: 4px 12px;
	    text-align: center;
	    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	    vertical-align: middle;
	}

	.btn:hover {
	    background-position: 0 -15px;
	    color: #333333;
	    text-decoration: none;
	    transition: background-position 0.1s linear 0s;
	}
	.btn-mini {
	    border-radius: 3px 3px 3px 3px;
	    font-size: 10.5px;
	    padding: 0 6px;
	    margin-top: -1px;
	}

	.btn-large {
	    border-radius: 5px 5px 5px 5px;
	    font-size: 15px;
	    line-height: normal;
	    padding: 9px 14px;
	}

	.btn-info {
	    background-color: #49AFCD;
	    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
	    background-repeat: repeat-x;
	    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	    color: #FFFFFF;
	    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}

	.btn-info.active{
		color: rgba(255, 255, 255, 0.75);
	}

	.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled]{
	    background-color: #2F96B4;
	    color: #FFFFFF;
	    text-decoration: none;
	}

	.center{
		text-align:center;
	}
	.clear{
		clear: both;
	}

	.container{
		width: 940px;
		margin-left: auto;
    	margin-right: auto;
	}

	.content {
	    background-color: #F5F5F5;
	    border: 1px solid rgba(0, 0, 0, 0.05);
	    border-radius: 4px 4px 4px 4px;
	    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	    margin-bottom: 10px;
	    min-height: 20px;
	    padding: 10px 20px;
	}
	.data{
		display: table;
	}

	.source{
		margin: 0 auto;
	}
	.span5{ 
		width: 380px;
	    float: left;
	    margin: 0 0 15px 20px;
	    min-height: 1px;
	}

	.title{
		 margin: 10px 0;	
	}
