body {
    padding-bottom: 40px;
    padding-top: 60px;
}

#intro { margin:0; padding:0; background-color:#FFF }
#intro #container { width:1400px; margin:0 auto }
#intro #container span { height:100px; overflow:hidden; float:left }
#intro #container span img { width:200px; opacity:0.7 }
#intro #container span img.active, #container span img:hover { opacity:1; }
#intro #screen { display:none; background-color:#000; width:100%; height:300px; opacity:0.8; position:absolute; top:200px; z-index:10 }
#intro #title { display:none; position:absolute; top:280px; z-index:100; color:#FFF; text-align:right; right:50px }
#intro #title h1, #intro #title p {  font-family: 'Arvo', serif }
#intro #title p { font-size:16pt }
#intro #title p { margin:10px 0 15px 0; font-size:12pt }
#intro .button { width:150px; height:60px; background-color:#FF0000; color:#FFF; border:1px solid #DDD; border-radius:7px }

.filmItem {
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

.filmItem:hover {
	background-color:#ccc;
}

.filmItem .key {
	min-height: 20px;
	text-align: left;
	padding-left: 20%;
	font-weight: bold;
	font-size: 20px;
}

.filmItem .value {
	min-height: 20px;
}

.value .thumb {
	max-width: 100%;
}

.trailer{
	max-width:560px;
}

.en,
.es {
	display:none;
}

.activeLang{
	display:inline-block;
}

td.titulo { 
	vertical-align: middle; 
}
